.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer .menu-header {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 30px;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.side-drawer .menu-header .menu-header-title {
    color: black;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: purple;
    text-decoration: none;
    font-size: 1.2rem;
}
.side-drawer a:hover,
.side-drawer a:active {
    color: orange;
}
.back-arrow {
    margin-left: 1rem;
    cursor: pointer;
}