.register {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}
form {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
}
input[type=text] {
    margin-bottom: 13px;
    margin-top: 10px;
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    font-size: 1.6rem;
    height: 1.3rem;
}
input[type=submit] {
    margin-bottom: 20px;
    width: 100%;
    max-width: 150px;
    border-radius: 0.2rem;
    align-items: center;
}
